workflows/ai-email-triage-agent.json
{
  "name": "ai-email-triage-agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3c5a8691-44ae-4fff-8c0c-dba0d34e1dc2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f672786-128b-4c62-ba62-1088ed4432d1",
              "name": "subject",
              "value": "Interview Invitation",
              "type": "string"
            },
            {
              "id": "ed4c937b-421e-4d59-b6b9-40a2dba96e6b",
              "name": "sender",
              "value": "recruiter@example.com",
              "type": "string"
            },
            {
              "id": "f37068dd-cb67-4fcb-8ff2-3462cad58470",
              "name": "body",
              "value": "We reviewed your application and would like to schedule an interview next week.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "731a2002-cd53-4245-a7d1-43848ba41c28",
      "name": "Test Email"
    },
    {
      "parameters": {
        "jsCode": "// Get the original item\nconst item = $input.first();\nconst email = item.json;\n\n// Validate required fields\nif (!email.subject) {\n  throw new Error(\"❌ Missing subject\");\n}\n\nif (!email.sender) {\n  throw new Error(\"❌ Missing sender\");\n}\n\nif (!email.body) {\n  throw new Error(\"❌ Missing body\");\n}\n\n// Pass the original email forward while adding test metadata\nreturn [\n  {\n    json: {\n      ...email,\n\n      testResults: {\n        version: \"0.0.1\",\n        passed: true,\n        testsRun: 3,\n        testsPassed: 3,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        272
      ],
      "id": "ab3f2454-a95d-4242-ba61-0f7621129fc9",
      "name": "Version 0.0.1 Test"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject:\n{{ $json.subject }}\n\nSender:\n{{ $json.sender }}\n\nBody:\n{{ $json.body }}",
        "options": {
          "systemMessage": "You are an AI email classification assistant.\n\nYour task is to analyze the email's subject and body, then classify it into one of the following categories:\n\n- Work\n- Personal\n- Finance\n- Promotions\n- Spam\n\nFor each category, assign the corresponding folder:\n\n- Work → Work\n- Personal → Personal\n- Finance → Finance\n- Promotions → Promotions\n- Spam → Spam\n\nRespond ONLY with valid JSON.\n\nUse exactly this format:\n\n```json\n{\n  \"category\": \"Work\",\n  \"folder\": \"Work\"\n}\n```\n\nOutput Requirements:\n\n- Return ONLY a raw JSON object.\n- Do NOT use Markdown.\n- Do NOT wrap the response in ```json or ``` fences.\n- Do NOT include explanations or commentary.\n- Do NOT include any text before or after the JSON.\n- The first character of your response MUST be {\n- The last character of your response MUST be }\n\nExample valid response:\n\n{\n  \"category\": \"Work\",\n  \"folder\": \"Work\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        0
      ],
      "id": "80441238-e386-4e04-a447-0fa3299be19b",
      "name": "Email Classifier"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        432,
        144
      ],
      "id": "8f1e8ebc-8635-437a-801c-035b80b2b802",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fALBHrt0o6XXDI17",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\n// Ensure an AI response exists\nif (!data.output) {\n    throw new Error(\"❌ AI output is missing.\");\n}\n\n// Parse the AI's JSON string\nlet classification;\n\ntry {\n    classification = JSON.parse(data.output);\n} catch (error) {\n    throw new Error(\"❌ AI output is not valid JSON.\");\n}\n\n// Ensure the parsed value is an object\nif (\n    typeof classification !== \"object\" ||\n    classification === null ||\n    Array.isArray(classification)\n) {\n    throw new Error(\"❌ AI output is not a JSON object.\");\n}\n\n// Ensure category exists\nif (!Object.prototype.hasOwnProperty.call(classification, \"category\")) {\n    throw new Error(\"❌ Missing 'category' field.\");\n}\n\n// Ensure category is a string\nif (typeof classification.category !== \"string\") {\n    throw new Error(\"❌ 'category' must be a string.\");\n}\n\n// Allowed categories\nconst allowedCategories = [\n    \"Work\",\n    \"Personal\",\n    \"Finance\",\n    \"Promotions\",\n    \"Spam\"\n];\n\n// Validate category\nif (!allowedCategories.includes(classification.category)) {\n    throw new Error(\n        `❌ Invalid category: ${classification.category}`\n    );\n}\n\n// Success\nreturn [{\n    json: {\n        ...data,\n\n        aiClassification: classification,\n\n        testResults: {\n            ...(data.testResults ?? {}),\n            v002: {\n                passed: true,\n                category: classification.category,\n                timestamp: new Date().toISOString()\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        272
      ],
      "id": "ff153f31-4322-441e-8775-323b8d1796a9",
      "name": "Version 0.0.2 Test"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\n// Ensure an AI response exists\nif (!data.output) {\n    throw new Error(\"❌ AI output is missing.\");\n}\n\n// Parse the AI's JSON string\nlet classification;\n\ntry {\n    classification = JSON.parse(data.output);\n} catch (error) {\n    throw new Error(\"❌ AI output is not valid JSON.\");\n}\n\n// Ensure the parsed value is an object\nif (\n    typeof classification !== \"object\" ||\n    classification === null ||\n    Array.isArray(classification)\n) {\n    throw new Error(\"❌ AI output is not a JSON object.\");\n}\n\n// Required fields\nif (!Object.prototype.hasOwnProperty.call(classification, \"category\")) {\n    throw new Error(\"❌ Missing 'category' field.\");\n}\n\nif (!Object.prototype.hasOwnProperty.call(classification, \"folder\")) {\n    throw new Error(\"❌ Missing 'folder' field.\");\n}\n\n// Type validation\nif (typeof classification.category !== \"string\") {\n    throw new Error(\"❌ 'category' must be a string.\");\n}\n\nif (typeof classification.folder !== \"string\") {\n    throw new Error(\"❌ 'folder' must be a string.\");\n}\n\n// Valid category → folder mapping\nconst folderMap = {\n    Work: \"Work\",\n    Personal: \"Personal\",\n    Finance: \"Finance\",\n    Promotions: \"Promotions\",\n    Spam: \"Spam\"\n};\n\n// Validate category\nif (!Object.prototype.hasOwnProperty.call(folderMap, classification.category)) {\n    throw new Error(\n        `❌ Invalid category: ${classification.category}`\n    );\n}\n\n// Validate folder\nconst expectedFolder = folderMap[classification.category];\n\nif (classification.folder !== expectedFolder) {\n    throw new Error(\n        `❌ Folder mismatch. Expected '${expectedFolder}', got '${classification.folder}'.`\n    );\n}\n\n// Success\nreturn [{\n    json: {\n        ...data,\n\n        aiClassification: classification,\n\n        testResults: {\n            ...(data.testResults ?? {}),\n            v003: {\n                passed: true,\n                category: classification.category,\n                folder: classification.folder,\n                timestamp: new Date().toISOString()\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        272
      ],
      "id": "a426ee83-328d-4963-8494-6ccb4aaa8f2d",
      "name": "Version 0.0.3 Test"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\n// Ensure an AI response exists\nif (!data.output) {\n    throw new Error(\"❌ AI output is missing.\");\n}\n\n// Parse the AI JSON\nlet classification;\n\ntry {\n    classification = JSON.parse(data.output);\n} catch (error) {\n    throw new Error(\"❌ AI output is not valid JSON.\");\n}\n\n// Ensure the parsed value is an object\nif (\n    typeof classification !== \"object\" ||\n    classification === null ||\n    Array.isArray(classification)\n) {\n    throw new Error(\"❌ AI output is not a JSON object.\");\n}\n\n// Expected fields\nconst expectedFields = [\"category\", \"folder\"];\n\n// Check for missing fields\nfor (const field of expectedFields) {\n    if (!Object.prototype.hasOwnProperty.call(classification, field)) {\n        throw new Error(`❌ Missing '${field}' field.`);\n    }\n}\n\n// Check for unexpected fields\nconst extraFields = Object.keys(classification)\n    .filter(key => !expectedFields.includes(key));\n\nif (extraFields.length > 0) {\n    throw new Error(\n        `❌ Unexpected field(s): ${extraFields.join(\", \")}`\n    );\n}\n\n// Type validation\nif (typeof classification.category !== \"string\") {\n    throw new Error(\"❌ 'category' must be a string.\");\n}\n\nif (typeof classification.folder !== \"string\") {\n    throw new Error(\"❌ 'folder' must be a string.\");\n}\n\n// Allowed mapping\nconst folderMap = {\n    Work: \"Work\",\n    Personal: \"Personal\",\n    Finance: \"Finance\",\n    Promotions: \"Promotions\",\n    Spam: \"Spam\"\n};\n\n// Validate category\nif (!Object.prototype.hasOwnProperty.call(folderMap, classification.category)) {\n    throw new Error(\n        `❌ Invalid category: ${classification.category}`\n    );\n}\n\n// Validate folder\nif (classification.folder !== folderMap[classification.category]) {\n    throw new Error(\n        `❌ Folder mismatch. Expected '${folderMap[classification.category]}', got '${classification.folder}'.`\n    );\n}\n\n// Success\nreturn [{\n    json: {\n        ...data,\n        aiClassification: classification,\n        testResults: {\n            ...(data.testResults ?? {}),\n            v004: {\n                passed: true,\n                contractValidated: true,\n                timestamp: new Date().toISOString()\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        272
      ],
      "id": "4e65ae8c-20a6-496b-a8d4-ce048bb991b5",
      "name": "Version 0.0.4 Test"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\n// Ensure an AI response exists\nif (!data.output) {\n    throw new Error(\"❌ AI output is missing.\");\n}\n\n// Normalize the AI response\nlet cleanedOutput = data.output.trim();\n\n// Remove Markdown code fences\ncleanedOutput = cleanedOutput\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/\\s*```$/, \"\")\n    .trim();\n\n// Parse normalized JSON\nlet classification;\n\ntry {\n    classification = JSON.parse(cleanedOutput);\n} catch (error) {\n    throw new Error(\"❌ Normalized AI output is not valid JSON.\");\n}\n\n// Ensure object\nif (\n    typeof classification !== \"object\" ||\n    classification === null ||\n    Array.isArray(classification)\n) {\n    throw new Error(\"❌ AI output is not a JSON object.\");\n}\n\nreturn [{\n    json: {\n        ...data,\n\n        // Preserve both versions\n        rawAiOutput: data.output,\n        normalizedAiOutput: cleanedOutput,\n\n        aiClassification: classification,\n\n        testResults: {\n            ...(data.testResults ?? {}),\n            v005: {\n                passed: true,\n                normalized: true,\n                timestamp: new Date().toISOString()\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "e3afc5cd-80c3-45e5-8a8a-10edfa6114ca",
      "name": "Data Normalization"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\n// Ensure an AI response exists\nif (!data.output) {\n    throw new Error(\"❌ AI output is missing.\");\n}\n\n// Preserve the original output\nconst rawOutput = data.output;\n\n// Normalize the AI response\nlet normalizedOutput = rawOutput.trim();\n\n// Remove Markdown code fences\nnormalizedOutput = normalizedOutput\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/\\s*```$/, \"\")\n    .trim();\n\n// Parse normalized JSON\nlet classification;\n\ntry {\n    classification = JSON.parse(normalizedOutput);\n} catch (error) {\n    throw new Error(\"❌ Failed to parse normalized AI output.\");\n}\n\n// Ensure object\nif (\n    typeof classification !== \"object\" ||\n    classification === null ||\n    Array.isArray(classification)\n) {\n    throw new Error(\"❌ Normalized output is not a JSON object.\");\n}\n\n// Success\nreturn [{\n    json: {\n        ...data,\n\n        rawAiOutput: rawOutput,\n        normalizedAiOutput: normalizedOutput,\n        aiClassification: classification,\n\n        testResults: {\n            ...(data.testResults ?? {}),\n            v005: {\n                passed: true,\n                normalizationApplied: rawOutput !== normalizedOutput,\n                timestamp: new Date().toISOString()\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        272
      ],
      "id": "31855a02-0c3a-42d0-b684-ef3da1acb561",
      "name": "Version 0.0.5 Test"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nconst classification = data.aiClassification;\n\nif (!classification) {\n    throw new Error(\"❌ Missing AI classification.\");\n}\n\nconst routes = {\n    Work: \"Work\",\n    Personal: \"Personal\",\n    Finance: \"Finance\",\n    Promotions: \"Promotions\",\n    Spam: \"Spam\"\n};\n\nconst destination = routes[classification.folder];\n\nif (!destination) {\n    throw new Error(`❌ No route defined for '${classification.folder}'.`);\n}\n\nreturn [{\n    json: {\n        ...data,\n\n        routing: {\n            destination,\n            status: \"READY\"\n        },\n\n        version: \"0.0.6\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        0
      ],
      "id": "b085cdea-0d28-4ba6-b202-5389cbc2e53a",
      "name": "Routing Engine"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\n// Ensure routing object exists\nif (!data.routing) {\n    throw new Error(\"❌ Missing routing object.\");\n}\n\n// Validate destination\nif (!data.routing.destination) {\n    throw new Error(\"❌ Missing routing destination.\");\n}\n\nconst validDestinations = [\n    \"Work\",\n    \"Personal\",\n    \"Finance\",\n    \"Promotions\",\n    \"Spam\"\n];\n\nif (!validDestinations.includes(data.routing.destination)) {\n    throw new Error(\n        `❌ Invalid routing destination: ${data.routing.destination}`\n    );\n}\n\n// Validate status\nif (data.routing.status !== \"READY\") {\n    throw new Error(\n        `❌ Routing status expected 'READY' but received '${data.routing.status}'.`\n    );\n}\n\n// Ensure routing agrees with the AI classification\nif (\n    data.aiClassification &&\n    data.routing.destination !== data.aiClassification.folder\n) {\n    throw new Error(\n        `❌ Routing destination '${data.routing.destination}' does not match AI folder '${data.aiClassification.folder}'.`\n    );\n}\n\n// Success\nreturn [{\n    json: {\n        ...data,\n\n        testResults: {\n            ...(data.testResults ?? {}),\n            v006: {\n                passed: true,\n                destination: data.routing.destination,\n                status: data.routing.status,\n                timestamp: new Date().toISOString()\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        288
      ],
      "id": "df5b54e6-92f7-4fc1-9b13-f628f143cc94",
      "name": "Version 0.0.6 Test"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nif (!data.routing) {\n    throw new Error(\"❌ Missing routing information.\");\n}\n\nconst actionMap = {\n    Work: \"MOVE_EMAIL\",\n    Personal: \"MOVE_EMAIL\",\n    Finance: \"MOVE_EMAIL\",\n    Promotions: \"MOVE_EMAIL\",\n    Spam: \"MOVE_EMAIL\"\n};\n\nconst action = actionMap[data.routing.destination];\n\nif (!action) {\n    throw new Error(\n        `❌ No action defined for ${data.routing.destination}.`\n    );\n}\n\nreturn [{\n    json: {\n        ...data,\n\n        routing: {\n            ...data.routing,\n            action\n        },\n\n        version: \"0.0.7\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "346c94bc-253f-4a61-9c50-d5ab90832e86",
      "name": "Action Mapping"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\n// Ensure routing exists\nif (!data.routing) {\n    throw new Error(\"❌ Missing routing object.\");\n}\n\n// Ensure action exists\nif (!data.routing.action) {\n    throw new Error(\"❌ Missing routing action.\");\n}\n\n// Allowed actions\nconst validActions = [\n    \"MOVE_EMAIL\",\n    \"LABEL_ONLY\",\n    \"DELETE_EMAIL\",\n    \"FORWARD_EMAIL\",\n    \"FLAG_FOR_REVIEW\"\n];\n\nif (!validActions.includes(data.routing.action)) {\n    throw new Error(\n        `❌ Invalid routing action: ${data.routing.action}`\n    );\n}\n\n// Verify destination/action pair\nconst expectedActions = {\n    Work: \"MOVE_EMAIL\",\n    Personal: \"MOVE_EMAIL\",\n    Finance: \"MOVE_EMAIL\",\n    Promotions: \"MOVE_EMAIL\",\n    Spam: \"MOVE_EMAIL\"\n};\n\nconst expectedAction = expectedActions[data.routing.destination];\n\nif (!expectedAction) {\n    throw new Error(\n        `❌ No expected action defined for destination '${data.routing.destination}'.`\n    );\n}\n\nif (data.routing.action !== expectedAction) {\n    throw new Error(\n        `❌ Expected action '${expectedAction}' for destination '${data.routing.destination}', but received '${data.routing.action}'.`\n    );\n}\n\n// Success\nreturn [{\n    json: {\n        ...data,\n\n        testResults: {\n            ...(data.testResults ?? {}),\n            v007: {\n                passed: true,\n                action: data.routing.action,\n                destination: data.routing.destination,\n                timestamp: new Date().toISOString()\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        288
      ],
      "id": "8e85c8ca-01a4-44f6-98bd-609a5526286c",
      "name": "Version 0.0.7 Test"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nif (!data.routing) {\n    throw new Error(\"❌ Missing routing information.\");\n}\n\nconst executionPlan = {\n    provider: \"gmail\",\n    operation: data.routing.action,\n    destination: data.routing.destination,\n    ready: true,\n    executed: false\n};\n\nreturn [{\n    json: {\n        ...data,\n\n        executionPlan,\n\n        version: \"0.0.8\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ],
      "id": "ee40f0bf-8637-4821-89f6-e0ac883849e8",
      "name": "Execution Planner"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\n// Ensure execution plan exists\nif (!data.executionPlan) {\n    throw new Error(\"❌ Missing execution plan.\");\n}\n\nconst plan = data.executionPlan;\n\n// Validate provider\nconst validProviders = [\n    \"gmail\"\n];\n\nif (!validProviders.includes(plan.provider)) {\n    throw new Error(\n        `❌ Invalid provider: ${plan.provider}`\n    );\n}\n\n// Validate operation\nconst validOperations = [\n    \"MOVE_EMAIL\",\n    \"LABEL_ONLY\",\n    \"DELETE_EMAIL\",\n    \"FORWARD_EMAIL\",\n    \"FLAG_FOR_REVIEW\"\n];\n\nif (!validOperations.includes(plan.operation)) {\n    throw new Error(\n        `❌ Invalid operation: ${plan.operation}`\n    );\n}\n\n// Validate destination\nconst validDestinations = [\n    \"Work\",\n    \"Personal\",\n    \"Finance\",\n    \"Promotions\",\n    \"Spam\"\n];\n\nif (!validDestinations.includes(plan.destination)) {\n    throw new Error(\n        `❌ Invalid destination: ${plan.destination}`\n    );\n}\n\n// Validate readiness flags\nif (plan.ready !== true) {\n    throw new Error(\"❌ Execution plan is not marked as ready.\");\n}\n\nif (plan.executed !== false) {\n    throw new Error(\"❌ Execution plan should not already be executed.\");\n}\n\n// Verify consistency with routing\nif (data.routing) {\n    if (plan.destination !== data.routing.destination) {\n        throw new Error(\n            `❌ Execution destination '${plan.destination}' does not match routing destination '${data.routing.destination}'.`\n        );\n    }\n\n    if (plan.operation !== data.routing.action) {\n        throw new Error(\n            `❌ Execution operation '${plan.operation}' does not match routing action '${data.routing.action}'.`\n        );\n    }\n}\n\n// Success\nreturn [{\n    json: {\n        ...data,\n\n        testResults: {\n            ...(data.testResults ?? {}),\n            v008: {\n                passed: true,\n                provider: plan.provider,\n                operation: plan.operation,\n                destination: plan.destination,\n                timestamp: new Date().toISOString()\n            }\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        288
      ],
      "id": "deed0674-6242-48cc-83e7-1bfa352cb6d2",
      "name": "Version 0.0.8 Test"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Test Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Email": {
      "main": [
        [
          {
            "node": "Version 0.0.1 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version 0.0.1 Test": {
      "main": [
        [
          {
            "node": "Email Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Classifier": {
      "main": [
        [
          {
            "node": "Version 0.0.2 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version 0.0.2 Test": {
      "main": [
        [
          {
            "node": "Version 0.0.3 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version 0.0.3 Test": {
      "main": [
        [
          {
            "node": "Version 0.0.4 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version 0.0.4 Test": {
      "main": [
        [
          {
            "node": "Data Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalization": {
      "main": [
        [
          {
            "node": "Version 0.0.5 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version 0.0.5 Test": {
      "main": [
        [
          {
            "node": "Routing Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routing Engine": {
      "main": [
        [
          {
            "node": "Version 0.0.6 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version 0.0.6 Test": {
      "main": [
        [
          {
            "node": "Action Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Mapping": {
      "main": [
        [
          {
            "node": "Version 0.0.7 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version 0.0.7 Test": {
      "main": [
        [
          {
            "node": "Execution Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Planner": {
      "main": [
        [
          {
            "node": "Version 0.0.8 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2913994e-d8af-42ab-b3d3-b1bcd40c3e09",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc9620e8417f8ca78731be92f1cb94a7c2ac73008e3b0b931735db73434bcdca"
  },
  "nodeGroups": [],
  "id": "bBfFm7DaDnDNdCAc",
  "tags": []
}