workflows/ai-email-triage-agent.json
{
  "name": "ai-email-triage-agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3c5a8691-44ae-4fff-8c0c-dba0d34e1dc2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f672786-128b-4c62-ba62-1088ed4432d1",
              "name": "subject",
              "value": "Interview Invitation",
              "type": "string"
            },
            {
              "id": "ed4c937b-421e-4d59-b6b9-40a2dba96e6b",
              "name": "sender",
              "value": "recruiter@example.com",
              "type": "string"
            },
            {
              "id": "f37068dd-cb67-4fcb-8ff2-3462cad58470",
              "name": "body",
              "value": "We reviewed your application and would like to schedule an interview next week.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "731a2002-cd53-4245-a7d1-43848ba41c28",
      "name": "Test Email"
    },
    {
      "parameters": {
        "jsCode": "// Get the original item\nconst item = $input.first();\nconst email = item.json;\n\n// Validate required fields\nif (!email.subject) {\n  throw new Error(\"❌ Missing subject\");\n}\n\nif (!email.sender) {\n  throw new Error(\"❌ Missing sender\");\n}\n\nif (!email.body) {\n  throw new Error(\"❌ Missing body\");\n}\n\n// Pass the original email forward while adding test metadata\nreturn [\n  {\n    json: {\n      ...email,\n\n      testResults: {\n        version: \"0.0.1\",\n        passed: true,\n        testsRun: 3,\n        testsPassed: 3,\n        timestamp: new Date().toISOString()\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        160
      ],
      "id": "ab3f2454-a95d-4242-ba61-0f7621129fc9",
      "name": "Version 0.0.1 Test"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject:\n{{ $json.subject }}\n\nSender:\n{{ $json.sender }}\n\nBody:\n{{ $json.body }}",
        "options": {
          "systemMessage": "You are an email classification assistant.\n\nYour task is to classify the email into exactly one of these categories:\n\n- Work\n- Personal\n- Finance\n- Promotions\n- Spam\n\nRespond with ONLY the category name.\n\nDo not explain your reasoning.\nDo not include punctuation.\nDo not include additional text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        0
      ],
      "id": "80441238-e386-4e04-a447-0fa3299be19b",
      "name": "Email Classifier"
    },
    {
      "parameters": {
        "model": "openrouter/free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        432,
        144
      ],
      "id": "8f1e8ebc-8635-437a-801c-035b80b2b802",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "fALBHrt0o6XXDI17",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nconst category = data.output.trim();\n\nconst allowedCategories = [\n    \"Work\",\n    \"Personal\",\n    \"Finance\",\n    \"Promotions\",\n    \"Spam\"\n];\n\nif (!allowedCategories.includes(category)) {\n    throw new Error(`Invalid category: ${category}`);\n}\n\nreturn [{\n    json: {\n        ...data,\n        testResults: {\n            ...(data.testResults ?? {}),\n            version: \"0.0.2\",\n            passed: true,\n            classification: category,\n            timestamp: new Date().toISOString()\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        272
      ],
      "id": "ff153f31-4322-441e-8775-323b8d1796a9",
      "name": "Version 0.0.2 Test"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Test Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Email": {
      "main": [
        [
          {
            "node": "Version 0.0.1 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Version 0.0.1 Test": {
      "main": [
        [
          {
            "node": "Email Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Classifier": {
      "main": [
        [
          {
            "node": "Version 0.0.2 Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3f918437-ccf6-4e5b-a9f2-3dfdb7187de7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc9620e8417f8ca78731be92f1cb94a7c2ac73008e3b0b931735db73434bcdca"
  },
  "nodeGroups": [],
  "id": "bBfFm7DaDnDNdCAc",
  "tags": []
}